mandi_agent/n8n/workflows/agri_news_alerts.json
{
  "workflows": [
    {
      "name": "Mandi-Agent — Agricultural News Alerts",
      "nodes": [
        {
          "id": "schedule-30m",
          "name": "Schedule Trigger (every 30 min)",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [100, 260],
          "parameters": {
            "rule": {
              "interval": [
                {
                  "field": "minutes",
                  "minutesInterval": 30
                }
              ]
            }
          }
        },
        {
          "id": "get-news",
          "name": "HTTP Request — GET /api/news",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 3,
          "position": [350, 260],
          "parameters": {
            "method": "GET",
            "url": "http://backend:8000/api/news",
            "options": {}
          }
        },
        {
          "id": "filter-urgent",
          "name": "Code — filter urgency >= important",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [620, 260],
          "parameters": {
            "mode": "runOnceForAllItems",
            "jsCode": "const articles = $input.first().json.articles || [];\nconst urgent = articles.filter(a => (a.relevance_score || 0) >= 7);\nreturn urgent.map(a => ({ json: a }));"
          }
        },
        {
          "id": "if-emergency",
          "name": "IF — Is urgency emergency?",
          "type": "n8n-nodes-base.if",
          "typeVersion": 2,
          "position": [900, 260],
          "parameters": {
            "conditions": {
              "string": [
                {
                  "value1": "={{ $json.urgency_level }}",
                  "operation": "equal",
                  "value2": "emergency"
                }
              ]
            }
          }
        },
        {
          "id": "twilio-immediate",
          "name": "Twilio WhatsApp (immediate)",
          "type": "n8n-nodes-base.twilio",
          "typeVersion": 1,
          "position": [1170, 170],
          "parameters": {
            "resource": "message",
            "from": "whatsapp:+14155238886",
            "to": "=whatsapp:{{ $json.farmer_phone || '' }}",
            "message": "={{ `🚨 ${$json.headline_short || $json.title}\n\nAction: ${$json.farmer_action || 'Check local mandi and act quickly.'}` }}"
          }
        },
        {
          "id": "queue-digest",
          "name": "Google Sheets — queue for 6AM digest",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [1170, 350],
          "parameters": {
            "operation": "append",
            "sheetName": "News Digest Queue",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "article_id": "={{ $json.article_id }}",
                "headline": "={{ $json.headline_short || $json.title }}",
                "urgency": "={{ $json.urgency_level }}",
                "farmer_phone": "={{ $json.farmer_phone || '' }}",
                "timestamp": "={{ $now.toISO() }}"
              }
            }
          }
        },
        {
          "id": "log-alert",
          "name": "Google Sheets — log alert sent",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [1440, 260],
          "parameters": {
            "operation": "append",
            "sheetName": "News Alert Log",
            "columns": {
              "mappingMode": "defineBelow",
              "value": {
                "article_id": "={{ $json.article_id }}",
                "headline": "={{ $json.headline_short || $json.title }}",
                "urgency": "={{ $json.urgency_level }}",
                "farmers_notified": "={{ $json.farmers_notified || 1 }}",
                "timestamp": "={{ $now.toISO() }}"
              }
            }
          }
        }
      ],
      "connections": {
        "Schedule Trigger (every 30 min)": {
          "main": [[{ "node": "HTTP Request — GET /api/news", "type": "main", "index": 0 }]]
        },
        "HTTP Request — GET /api/news": {
          "main": [[{ "node": "Code — filter urgency >= important", "type": "main", "index": 0 }]]
        },
        "Code — filter urgency >= important": {
          "main": [[{ "node": "IF — Is urgency emergency?", "type": "main", "index": 0 }]]
        },
        "IF — Is urgency emergency?": {
          "main": [
            [{ "node": "Twilio WhatsApp (immediate)", "type": "main", "index": 0 }],
            [{ "node": "Google Sheets — queue for 6AM digest", "type": "main", "index": 0 }]
          ]
        },
        "Twilio WhatsApp (immediate)": {
          "main": [[{ "node": "Google Sheets — log alert sent", "type": "main", "index": 0 }]]
        },
        "Google Sheets — queue for 6AM digest": {
          "main": [[{ "node": "Google Sheets — log alert sent", "type": "main", "index": 0 }]]
        }
      }
    },
    {
      "name": "daily_news_digest",
      "nodes": [
        {
          "id": "cron-6am",
          "name": "Cron 6:00 AM IST",
          "type": "n8n-nodes-base.scheduleTrigger",
          "typeVersion": 1,
          "position": [100, 740],
          "parameters": {
            "rule": {
              "cronExpression": "0 30 0 * * *"
            }
          }
        },
        {
          "id": "read-queue",
          "name": "Google Sheets — read News Digest Queue",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [360, 740],
          "parameters": {
            "operation": "read",
            "sheetName": "News Digest Queue"
          }
        },
        {
          "id": "group-language",
          "name": "Code — group by farmer language",
          "type": "n8n-nodes-base.code",
          "typeVersion": 2,
          "position": [640, 740],
          "parameters": {
            "mode": "runOnceForAllItems",
            "jsCode": "const rows = $input.all().map(i => i.json);\nconst grouped = rows.reduce((acc, r) => {\n  const lang = r.farmer_language || 'en';\n  if (!acc[lang]) acc[lang] = [];\n  acc[lang].push(r);\n  return acc;\n}, {});\nreturn Object.entries(grouped).map(([language, items]) => ({ json: { language, items } }));"
          }
        },
        {
          "id": "translate",
          "name": "HTTP Request — translate via Bhashini/Reverie",
          "type": "n8n-nodes-base.httpRequest",
          "typeVersion": 3,
          "position": [930, 740],
          "parameters": {
            "method": "POST",
            "url": "http://backend:8000/api/translate",
            "sendBody": true,
            "jsonParameters": true,
            "options": {},
            "bodyParametersJson": "={\"target_language\": $json.language, \"items\": $json.items}"
          }
        },
        {
          "id": "send-digest",
          "name": "Twilio WhatsApp — send digest",
          "type": "n8n-nodes-base.twilio",
          "typeVersion": 1,
          "position": [1200, 740],
          "parameters": {
            "resource": "message",
            "from": "whatsapp:+14155238886",
            "to": "=whatsapp:{{ $json.farmer_phone || '' }}",
            "message": "={{ $json.translated_digest || 'Daily agri digest' }}"
          }
        },
        {
          "id": "clear-queue",
          "name": "Google Sheets — clear digest queue",
          "type": "n8n-nodes-base.googleSheets",
          "typeVersion": 4,
          "position": [1460, 740],
          "parameters": {
            "operation": "clear",
            "sheetName": "News Digest Queue"
          }
        }
      ],
      "connections": {
        "Cron 6:00 AM IST": {
          "main": [[{ "node": "Google Sheets — read News Digest Queue", "type": "main", "index": 0 }]]
        },
        "Google Sheets — read News Digest Queue": {
          "main": [[{ "node": "Code — group by farmer language", "type": "main", "index": 0 }]]
        },
        "Code — group by farmer language": {
          "main": [[{ "node": "HTTP Request — translate via Bhashini/Reverie", "type": "main", "index": 0 }]]
        },
        "HTTP Request — translate via Bhashini/Reverie": {
          "main": [[{ "node": "Twilio WhatsApp — send digest", "type": "main", "index": 0 }]]
        },
        "Twilio WhatsApp — send digest": {
          "main": [[{ "node": "Google Sheets — clear digest queue", "type": "main", "index": 0 }]]
        }
      }
    }
  ]
}
