mandi_agent/n8n/workflows/webhook-emergency-spoilage.json
{
  "name": "Custom Webhook - Emergency Spoilage Alert",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "emergency/spoilage",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-emergency",
      "name": "Webhook: Emergency Spoilage Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "emergency-spoilage-webhook"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-spoilage-critical",
              "leftValue": "={{ $json.spoilage_pct }}",
              "rightValue": 50,
              "operator": {
                "type": "boolean",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-critical-spoilage",
      "name": "If Spoilage > 50%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/tts/synthesize",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "headers": {
          "Authorization": "Bearer {{ $env.REVERIE_API_KEY }}",
          "Content-Type": "application/json"
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $env.REVERIE_APP_ID }}"
            },
            {
              "name": "text",
              "value": "खेतिहर भाई! आपके {{ $json.crop }} में {{ $json.spoilage_pct }}% की सड़न देखी गई है। यह बहुत गंभीर है। कृपया तुरंत {{ $json.recommended_action }} लें। आपके पास सीमित समय है।"
            },
            {
              "name": "language",
              "value": "hi"
            },
            {
              "name": "voice_config",
              "value": "={\"gender\": \"female\", \"speed\": 0.9, \"urgency\": true}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "revery-emergency-alert",
      "name": "Revery: Generate Emergency Voice Alert",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [550, 150]
    },
    {
      "parameters": {
        "resource": "media",
        "channel": "whatsapp",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.farmer_phone }}",
        "messageType": "audio",
        "mediaUrl": "={{ $json.audio_url }}",
        "options": {}
      },
      "id": "twilio-send-emergency-voice",
      "name": "Twilio: Send Emergency Voice Alert",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [550, 350],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "channel": "whatsapp",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $json.farmer_phone }}",
        "messageType": "text",
        "text": "🚨 EMERGENCY - {{ $json.crop }} Spoilage Alert\n\nSpoilage: {{ $json.spoilage_pct }}%\n\nAction: {{ $json.recommended_action }}\n\n📍 Cold Storage: {{ $json.cold_storage_name }}\nDistance: {{ $json.distance_km }} km\nCapacity: {{ $json.available_capacity }} MT\n\nContact: {{ $json.cold_storage_phone }}",
        "options": {}
      },
      "id": "twilio-send-emergency-text",
      "name": "Twilio: Send Action Text",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [800, 350],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "channel": "whatsapp",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $env.OPS_COORDINATOR_WHATSAPP }}",
        "messageType": "text",
        "text": "🚨 CRITICAL SPOILAGE - Immediate Action Required\n\nFarmer: {{ $json.farmer_id }}\nCrop: {{ $json.crop }}\nSpoilage: {{ $json.spoilage_pct }}%\n\nAction Taken: {{ $json.recommended_action }}\nCold Storage: {{ $json.cold_storage_name }}\n\nFarmer Location: {{ $json.coordinates.lat }}, {{ $json.coordinates.lng }}",
        "options": {}
      },
      "id": "twilio-alert-ops-emergency",
      "name": "Twilio: Alert Ops (Emergency)",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [1050, 500],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "message": "🚨 *EMERGENCY ALERT - SPOILAGE*\n\n👤 Farmer: *{{ $json.farmer_id }}*\n🌾 Crop: *{{ $json.crop }}*\n📈 Spoilage: *{{ $json.spoilage_pct }}%* ⚠️\n\n💨 Action: *{{ $json.recommended_action }}*\n\n🏭 Cold Storage:\n   Name: *{{ $json.cold_storage_name }}*\n   Distance: *{{ $json.distance_km }} km*\n   Capacity: *{{ $json.available_capacity }} MT*\n   Phone: *{{ $json.cold_storage_phone }}*\n\n📍 Location: {{ $json.coordinates.lat }}, {{ $json.coordinates.lng }}\n⏰ Alert Time: {{ new Date().toLocaleString() }}",
        "chatId": "={{ $env.TELEGRAM_BLOCK_GROUP_ID }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        },
        "options": {}
      },
      "id": "telegram-emergency-alert",
      "name": "Telegram: Emergency Broadcast",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [1050, 200],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "spreadsheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "range": "={{ $env.GOOGLE_SHEETS_EMERGENCIES_TAB }}!A:Z",
        "operation": "append",
        "values": "{{ [[ new Date().toISOString(), $json.farmer_id, $json.crop, $json.spoilage_pct, $json.recommended_action, $json.cold_storage_name, 'VOICE_ALERT + TEXT_ALERT + TELEGRAM', 'active' ]] }}"
      },
      "id": "google-sheets-emergency-log",
      "name": "Google Sheets: Log Emergency",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1300, 300],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-creds",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsonParameters": true,
        "requestBody": "={\n  \"event_type\": \"emergency_spoilage\",\n  \"farmer_id\": \"{{ $json.farmer_id }}\",\n  \"crop\": \"{{ $json.crop }}\",\n  \"spoilage_pct\": {{ $json.spoilage_pct }},\n  \"recommended_action\": \"{{ $json.recommended_action }}\",\n  \"cold_storage\": \"{{ $json.cold_storage_name }}\",\n  \"coordinates\": {\n    \"lat\": {{ $json.coordinates.lat }},\n    \"lng\": {{ $json.coordinates.lng }}\n  },\n  \"alerts_sent\": [\"voice\", \"text\", \"telegram\"],\n  \"timestamp\": \"{{ new Date().toISOString() }}\",\n  \"status\": \"active\"\n}"
      },
      "id": "supabase-log-emergency",
      "name": "Supabase: Log Emergency Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1550, 300],
      "url": "={{ $env.SUPABASE_URL }}/rest/v1/emergency_events",
      "method": "POST",
      "sendBody": true,
      "headers": {
        "Authorization": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}",
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      }
    },
    {
      "parameters": {
        "statusCode": 200,
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Emergency alert broadcast completed\",\n  \"farmer_id\": \"{{ $json.farmer_id }}\",\n  \"crop\": \"{{ $json.crop }}\",\n  \"spoilage_pct\": {{ $json.spoilage_pct }},\n  \"alerts_sent\": [\"voice_whatsapp\", \"text_whatsapp\", \"telegram\", \"ops_coordinator\"],\n  \"action_taken\": \"{{ $json.recommended_action }}\",\n  \"cold_storage\": \"{{ $json.cold_storage_name }}\"\n}"
      },
      "id": "response-emergency-success",
      "name": "Response: Emergency Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1800, 300]
    }
  ],
  "connections": {
    "Webhook: Emergency Spoilage Alert": {
      "main": [
        [
          {
            "node": "If Spoilage > 50%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Spoilage > 50%": {
      "main": [
        [
          {
            "node": "Revery: Generate Emergency Voice Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revery: Generate Emergency Voice Alert": {
      "main": [
        [
          {
            "node": "Twilio: Send Emergency Voice Alert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Send Emergency Voice Alert": {
      "main": [
        [
          {
            "node": "Twilio: Send Action Text",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Send Action Text": {
      "main": [
        [
          {
            "node": "Twilio: Alert Ops (Emergency)",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram: Emergency Broadcast",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Alert Ops (Emergency)": {
      "main": [
        [
          {
            "node": "Google Sheets: Log Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Emergency Broadcast": {
      "main": [
        [
          {
            "node": "Google Sheets: Log Emergency",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Log Emergency": {
      "main": [
        [
          {
            "node": "Supabase: Log Emergency Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Log Emergency Event": {
      "main": [
        [
          {
            "node": "Response: Emergency Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["webhook", "emergency", "spoilage", "voice", "broadcast"],
  "triggerCount": 1,
  "updatedAt": "2026-04-13T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetup": ["twilio-creds", "telegram-creds", "google-sheets-creds"]
  }
}
