mandi_agent/n8n/workflows/webhook-price-crash-broadcast.json
{
  "name": "Custom Webhook - Price Crash Broadcast",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "price-crash/broadcast",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-price-crash-broadcast",
      "name": "Webhook: Price Crash Alert",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "price-crash-broadcast"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-drop-threshold",
              "leftValue": "={{ $json.drop_pct }}",
              "rightValue": 20,
              "operator": {
                "type": "boolean",
                "operation": "gt"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "if-critical-drop",
      "name": "If Price Drop > 20%",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [300, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/tts/synthesize",
        "method": "POST",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpHeaderAuth",
        "headers": {
          "Authorization": "Bearer {{ $env.REVERIE_API_KEY }}",
          "Content-Type": "application/json"
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "app_id",
              "value": "={{ $env.REVERIE_APP_ID }}"
            },
            {
              "name": "text",
              "value": "={{ $json.crop }} की कीमत में तेजी से गिरावट आई है। मौजूदा कीमत {{ $json.current_price }} है जो {{ $json.drop_pct }}% गिरी है। कृपया तुरंत सलाह लें।"
            },
            {
              "name": "language",
              "value": "hi"
            },
            {
              "name": "voice_config",
              "value": "={\"gender\": \"female\", \"speed\": 1.0}"
            }
          ]
        },
        "options": {
          "timeout": 30000
        }
      },
      "id": "revery-price-alert-voice",
      "name": "Revery: Generate Price Alert Voice",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [550, 200]
    },
    {
      "parameters": {
        "message": "🚨 *Price Crash Alert - {{ $json.crop }}*\n\n📍 Block: *{{ $json.block_id }}*\n\n💰 Current Price: *₹{{ $json.current_price }}/quintal*\n📉 Price Drop: *{{ $json.drop_pct }}%*\n\n🎯 Forecast: *₹{{ $json.forecast_price }}/quintal*\n\n👥 Affected Farmers: *{{ $json.affected_farmer_count }}*\n\n📍 Alternative Mandi: *{{ $json.alternative_mandi }}*\n💵 Price There: *₹{{ $json.alternative_price }}/quintal*\n\n⏰ Time: {{ new Date().toLocaleString() }}",
        "chatId": "={{ $env.TELEGRAM_BLOCK_GROUP_ID }}",
        "additionalFields": {
          "parse_mode": "Markdown"
        },
        "options": {}
      },
      "id": "telegram-broadcast-price",
      "name": "Telegram: Broadcast to Farmer Group",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [550, 400],
      "credentials": {
        "telegramApi": {
          "id": "telegram-creds",
          "name": "Telegram Bot"
        }
      }
    },
    {
      "parameters": {
        "resource": "media",
        "channel": "whatsapp",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "=whatsapp:{{ $env.OPS_COORDINATOR_WHATSAPP }}",
        "messageType": "text",
        "text": "🚨 PRICE CRASH: {{ $json.crop }} in {{ $json.block_id }} dropped {{ $json.drop_pct }}% to ₹{{ $json.current_price }}/qt. Affected farmers: {{ $json.affected_farmer_count }}. Broadcasting alerts now.",
        "options": {}
      },
      "id": "twilio-alert-ops",
      "name": "Twilio: Alert Ops Coordinator",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [800, 500],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "spreadsheetId": "={{ $env.GOOGLE_SHEET_ID }}",
        "range": "={{ $env.GOOGLE_SHEETS_PRICE_CRASHES_TAB }}!A:Z",
        "operation": "append",
        "values": "{{ [[ $json.block_id, $json.crop, $json.current_price, $json.forecast_price, $json.drop_pct, $json.affected_farmer_count, $json.alternative_mandi, $json.alternative_price, new Date().toISOString() ]] }}"
      },
      "id": "google-sheets-price-log",
      "name": "Google Sheets: Log Price Crash",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 300],
      "credentials": {
        "googleSheetsApi": {
          "id": "google-sheets-creds",
          "name": "Google Sheets API"
        }
      }
    },
    {
      "parameters": {
        "jsonParameters": true,
        "requestBody": "={\n  \"event_type\": \"price_crash\",\n  \"block_id\": \"{{ $json.block_id }}\",\n  \"crop\": \"{{ $json.crop }}\",\n  \"current_price\": {{ $json.current_price }},\n  \"forecast_price\": {{ $json.forecast_price }},\n  \"drop_pct\": {{ $json.drop_pct }},\n  \"affected_farmers\": {{ $json.affected_farmer_count }},\n  \"broadcast_channels\": [\"telegram\", \"whatsapp\", \"voice\"],\n  \"timestamp\": \"{{ new Date().toISOString() }}\"\n}"
      },
      "id": "supabase-log-crash",
      "name": "Supabase: Log Price Crash Event",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1300, 300],
      "url": "={{ $env.SUPABASE_URL }}/rest/v1/price_crash_events",
      "method": "POST",
      "sendBody": true,
      "headers": {
        "Authorization": "Bearer {{ $env.SUPABASE_SERVICE_KEY }}",
        "Content-Type": "application/json",
        "Prefer": "return=representation"
      }
    },
    {
      "parameters": {
        "statusCode": 200,
        "responseBody": "={\n  \"success\": true,\n  \"message\": \"Price crash broadcast completed\",\n  \"crop\": \"{{ $json.crop }}\",\n  \"block_id\": \"{{ $json.block_id }}\",\n  \"drop_pct\": {{ $json.drop_pct }},\n  \"channels_used\": [\"telegram\", \"whatsapp\", \"voice\"],\n  \"farmers_notified\": {{ $json.affected_farmer_count }}\n}"
      },
      "id": "response-broadcast-success",
      "name": "Response: Broadcast Success",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1550, 300]
    }
  ],
  "connections": {
    "Webhook: Price Crash Alert": {
      "main": [
        [
          {
            "node": "If Price Drop > 20%",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Price Drop > 20%": {
      "main": [
        [
          {
            "node": "Revery: Generate Price Alert Voice",
            "type": "main",
            "index": 0
          },
          {
            "node": "Telegram: Broadcast to Farmer Group",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revery: Generate Price Alert Voice": {
      "main": [
        [
          {
            "node": "Twilio: Alert Ops Coordinator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram: Broadcast to Farmer Group": {
      "main": [
        [
          {
            "node": "Google Sheets: Log Price Crash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Twilio: Alert Ops Coordinator": {
      "main": [
        [
          {
            "node": "Google Sheets: Log Price Crash",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets: Log Price Crash": {
      "main": [
        [
          {
            "node": "Supabase: Log Price Crash Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Supabase: Log Price Crash Event": {
      "main": [
        [
          {
            "node": "Response: Broadcast Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["webhook", "price-crash", "broadcast", "telegram", "whatsapp"],
  "triggerCount": 1,
  "updatedAt": "2026-04-13T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetup": ["telegram-creds", "twilio-creds", "google-sheets-creds"]
  }
}
