mandi_agent/n8n/workflows/whatsapp_advisory_loop.json
{
  "name": "WhatsApp Advisory Loop",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "whatsapp-inbound",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "webhook-twilio-inbound",
      "name": "Twilio WhatsApp Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [100, 300],
      "webhookId": "whatsapp-inbound"
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/advisory",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "farmer_id",
              "value": "={{ $json.body.From.split('whatsapp:')[1] }}"
            },
            {
              "name": "audio_base64",
              "value": "={{ $json.body.MediaUrl0 }}"
            },
            {
              "name": "text_input",
              "value": "={{ $json.body.Body }}"
            }
          ]
        },
        "options": {
          "timeout": 60000
        }
      },
      "id": "http-advisory-api",
      "name": "POST /api/advisory",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [350, 300]
    },
    {
      "parameters": {
        "resource": "media",
        "channel": "whatsapp",
        "from": "={{ $env.TWILIO_WHATSAPP_FROM }}",
        "to": "={{ $json.body.From }}",
        "mediaUrl": "={{ $json.response_audio_url }}",
        "options": {}
      },
      "id": "twilio-send-voice",
      "name": "Send Voice Reply via Twilio",
      "type": "n8n-nodes-base.twilio",
      "typeVersion": 1,
      "position": [600, 300],
      "credentials": {
        "twilioApi": {
          "id": "twilio-creds",
          "name": "Twilio API"
        }
      }
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/log/advisory",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "farmer_id", "value": "={{ $json.farmer_id }}" },
            { "name": "advisory_id", "value": "={{ $json.advisory_id }}" },
            { "name": "language", "value": "={{ $json.language }}" },
            { "name": "channel", "value": "whatsapp" }
          ]
        },
        "options": {}
      },
      "id": "notion-log-advisory",
      "name": "Log in Notion",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [850, 300]
    },
    {
      "parameters": {
        "url": "http://backend:8000/api/log/voice-session",
        "method": "POST",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            { "name": "session_id", "value": "={{ $json.session_id }}" },
            { "name": "farmer_id", "value": "={{ $json.farmer_id }}" },
            { "name": "input_text_local", "value": "={{ $json.input_text_local }}" },
            { "name": "response_text_local", "value": "={{ $json.response_text_local }}" },
            { "name": "response_audio_url", "value": "={{ $json.response_audio_url }}" },
            { "name": "processing_ms", "value": "={{ $json.processing_ms }}" }
          ]
        },
        "options": {}
      },
      "id": "supabase-log-session",
      "name": "Log Session in Supabase",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [1100, 300]
    }
  ],
  "connections": {
    "Twilio WhatsApp Inbound Webhook": {
      "main": [
        [{
          "node": "POST /api/advisory",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "POST /api/advisory": {
      "main": [
        [{
          "node": "Send Voice Reply via Twilio",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "Send Voice Reply via Twilio": {
      "main": [
        [{
          "node": "Log in Notion",
          "type": "main",
          "index": 0
        }]
      ]
    },
    "Log in Notion": {
      "main": [
        [{
          "node": "Log Session in Supabase",
          "type": "main",
          "index": 0
        }]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["whatsapp", "advisory", "voice"],
  "triggerCount": 1,
  "updatedAt": "2026-03-20T00:00:00.000Z",
  "versionId": "1",
  "meta": {
    "templateCredsSetup": ["twilio-creds", "supabase-creds"]
  }
}
